.app-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: #1C7D30;
}

.footer-title{
	font-size: 13px;
    text-align: center;
    color: #CBCBCB;
    height: 25px;
    line-height: 25px;
    padding: 0px;
    margin: 0px;
}